# Spring
SPRING_PROFILES_ACTIVE=dev

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mng_dev
DB_USERNAME=root
DB_PASSWORD=root

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=your-secret-key-must-be-at-least-32-characters-long
